@model GSMC20240906.DTOs.ProductsDTOs.EditProductGSMCDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EditProductGSMCDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreGSMC" class="control-label"></label>
                <input asp-for="NombreGSMC" class="form-control" />
                <span asp-validation-for="NombreGSMC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionGSMC" class="control-label"></label>
                <input asp-for="DescripcionGSMC" class="form-control" />
                <span asp-validation-for="DescripcionGSMC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioGSMC" class="control-label"></label>
                <input asp-for="PrecioGSMC" class="form-control" />
                <span asp-validation-for="PrecioGSMC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
